.popup {
    position: fixed;
    top: 10px;
    left: 18%;
    width: 90%;
    height: 100vh;
    display: flex;
}

.popup-inner {
    position: relative;
    padding: 12px;
    width: 90%;
    height: 90%;
    background-color: #FFF;
    overflow-y: auto;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 5%;
}